@import url('https://fonts.googleapis.com/css?family=Krub|Niramit');

$labels-padding: 0.5em 0 1em 0.5em;

.hide {
    display: none !important;
}

.globalAlert {
    position: absolute;
    top: 25vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #1D4E89;
	max-width: 335px;
	min-width: 120px;
	visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;

    .modalContent {
        transform: scale(0.7);
        opacity: 0;
        transition: all 0.3s;
        margin: 8px;

        .modalTitleContainer {
            display: flex;
            align-items: flex-start;

            .modalTitle {
                font-size: 1.2em;
                padding: $labels-padding;
                color: #fff;
                font-weight: 700;
                margin: 0;
            }
        }
    }
}

.showModal {
    visibility: visible;
}

.modalEffect.showModal {

    .modalContent {
        transform: scale(1);
        opacity: 1;
    }
}

.invalidModal {
    border: 2px rgb(244, 67, 54) solid;
}

.audioSelection {
    padding: $labels-padding;

    .MuiFormControl-root {

        .MuiSelect-root, .MuiInputLabel-root, .MuiSelect-icon {
            color: #fff !important;    
        }

        .MuiInputLabel-root {
            font-size: 1.2em;
        }
    }

}

.reproduceAudio {
    margin: 0;

    figcaption {
        padding: $labels-padding;
    }
}

.inputContainer {
    background-color: #011936;
    padding: 1em;
    margin-top: 1em;
    border-radius: 2em;

    .MuiAutocomplete-root {

        input, label, button {
                color: #fff !important;
        }
    }
    
    .MuiOutlinedInput-notchedOutline {
        border-color:#fff !important;
    }
}

.buttonsInModalContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 1em 0.25em;

    .buttonsInModal {
        padding: 10px 10px;
        color: #fff;
        margin: 0 5px;
        cursor: pointer;
        font-size: 1em;
    }

    .alertButton {
        background-color: #ef5858;
    
        &:hover {
            background-color:  red;
        }
    }
    
    .successButton {
        background-color: #1ab394;
    
        &:hover {
            background-color: #028a6f;
        }
    }
}

@media screen and (min-width: 481px) {
    .bigScreenMode {
        .globalAlert {
    
            .modalContent {
    
                .modalTitleContainer {
        
                    .modalTitle {
                        font-size: 2em;
                    }
                }
            }
        }

        .audioSelection {

            .MuiFormControl-root {

                .MuiSelect-root {
                    font-size: 1.4em;
                    margin-top: 0.5em;
                }

                .MuiInputLabel-root {
                    font-size: 1.8em;
                }
            }
        }

        .reproduceAudio {

            figcaption {
                font-size: 1.4em;
            }
        }

        .inputContainer {
        
            .MuiAutocomplete-root {

                input {
                    font-size: 1.4em;
                }

                label {
                    font-size: 1.1em;
                }
            }
        }
    
        .audioSelection {
        
            label {
                font-size: 1.5em;
            }
        }
        
        .buttonsInModalContainer {
        
            .buttonsInModal {
                font-size: 1.5em;
            }
        }
    }
}

@media screen and (max-width: 335px) {
    .globalAlert {
        width: 80vw;

        audio {
            width: 75vw;
        }
    }
}