@import '../../../css/fonts';

@mixin successButtonColor() {
    background-color: #5cb85c;
    color: #fff;
}

@mixin startButtonColor() {
    background-color: #007AD9;
    color: #fff;
}

@mixin warningButtonColor() {
    background-color: #f0ad4e;
    color: #fff;
}

@mixin dangerButtonColor() {
    background-color: #ef5858;
    color: #fff;
}

.hideBtn {
    font-size: 0em !important; 
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: center;

    .button {
        padding: 0.429em 1em;
        color: #fff;
        font-family: $font-roboto;
        font-size: 1.2em;
        border: 0;  
        border-radius: 50px;
        transition: transform 1s;
        transition-delay: 0.1s;
        cursor: pointer;
    }

    .startButton {
        @include startButtonColor();
    }

    .successButton {
        @include successButtonColor();
    }

    .warningButton {
        @include warningButtonColor();
    }

    .dangerButton {
        @include dangerButtonColor();
    }

    .animateToRight {
        transform: translate(0.9em);
    }   
    
    .animateToLeft {
        transform: translate(-0.9em);
    }
    
    .notAllow {
        opacity: 0.5;
        transition: opacity 500ms ease-out;
    }
}

@media screen and (min-width: 481px) {
    .bigContainer {
        
        .button {
            font-size: 2em;
        }
    }

    .container {

        .button {
            background-color: #dadada;
            color: #333333;
            border: 1px solid #dadada;
        }

        .startButton {
    
            &:hover {
                @include startButtonColor();
                border: 1px solid #2e6da4;
            }
        }
        
        .successButton {
        
            &:hover {
                @include successButtonColor();
                border: 1px solid #4cae4c;
            }
        }
        
        .warningButton {
        
            &:hover {
                @include warningButtonColor();
                border: 1px solid #eea236;
            }   
        }
        
        .dangerButton {
        
            &:hover {
                @include dangerButtonColor();
                border: 1px solid #d43f3a;
            }
        }
    }
}