@import '../../../css/fonts';

.hideBtn {
    font-size: 0em !important; 
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: center;

    .button {
        padding: 0.429em 1em;
        font-family: $font-roboto;
        font-size: 1.2em;
        background-color: #dadada;
        color: #333333;
        border: 1px solid #dadada;
        border-radius: 50px;
        transition: transform 1s;
        transition-delay: 0.1s;
        cursor: pointer;

        &:focus {
            outline: 0;
        }
    }

    .animateToRight {
        transform: translate(0.9em);
    }   
    
    .animateToLeft {
        transform: translate(-0.9em);
    }
    
    .startButton {
    
        &:hover, &:focus {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }
    }
    
    .successButton {
    
        &:hover, &:focus {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
    }
    
    .warningButton {
    
        &:hover, &:focus {
            background-color: #f0ad4e;
            color: #fff;
            border-color: #eea236;
        }   
    }
    
    .dangerButton {
    
        &:hover, &:focus {
            background-color: #ef5858;
            border-color: #d43f3a;
            color: #fff;
        }
    }
    
    .notAllow {
        opacity: 0.5;
        transition: opacity 500ms ease-out;
    }
}

@media screen and (min-width: 481px) {
    .bigContainer {
        
        .button {
            font-size: 2em;
        }
    }
}