$success: #5cb85c;
$success-dark: #4cae4c;
$success-darker: #008b00;

$primary: #3578e5;
$primary-dark: #2e6da4;
$primary-darker: #2d66c3;

$warning: #f0ad4e;
$warning-dark: #eea236;
$warning-darker: #d99e00;

$danger: #ef5858;
$danger-dark: #d43f3a;
$danger-darker: #d53035;