@import './_fonts.scss';

$light-background: #fff;
$dark-background: #222;

body {
    font-family: $font-roboto;    
}

.hide {
    display: none;
}

.hidden {
    visibility: hidden;
}

.mainContainer {
    
    .modalOverlay {
        position: fixed;
        width: 100%;
        height: 100%;
        visibility: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background: rgba(40,43,49,.8);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .showOverlay {
        opacity: 1;
        visibility: visible;
    }

}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;

    li {
        float: right;
        margin: 0 5em;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

.lightNavBar {
    @extend .navBar;
    background-color: $light-background;
}

.darkNavBar {
    @extend .navBar;
    background-color: $dark-background;
}

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;

    .sizeAppButtonContainer {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;

        button {
            transition: all .2s ease;
            padding: 10px;
            border: 0;
            border-radius: 6px;
            overflow: hidden;
            box-sizing: border-box;
            font-family: $font-poppins;

            &:hover, &:focus {
                cursor: pointer;
            }
        }

        .lightChangeSizeButton {
            background-color: #000;
            color: #fff;

            &:hover, &:focus {
                box-shadow: 0 8px 25px -8px #000;
            }
        }

        .darkChangeSizeButton {
            background-color: #fff;
            color: #000;

            &:hover, &:focus {
                box-shadow: 0 8px 25px -8px #fff;
            }
        }
    }

    .btnsContainer {
        width: 100%;
    
        .buttons {
            padding: 0.429em 1em;
            color: #333333;
            background-color: #dadada;
            border: 1px solid #dadada;
            font-family: $font-roboto;
            font-size: 1.6em;
            border-radius: 0;
            transition: background-color 0.2s, box-shadow 0.2s;
            overflow: visible;
    
            &:hover {
                cursor: pointer;
            }
        }
    
        .btnSelected {
            background-color: #007ad9;
            border-color: #007ad9;
            color: #ffffff;
            transition: background-color 0.2s, box-shadow 0.2s;
        }
    }

    .hoursInClock button {
        width: 50%;
    }

    .clock {
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
    }

    .belowClockContainer {
        display: flex;
        justify-content: space-between;

        .belowClockContainerInfo {
            font-size: 1em;
        }

        .lightBelowClockContainerInfo {
            @extend .belowClockContainerInfo;
            color: #000;
        }

        .darkBelowClockContainerInfo {
            @extend .belowClockContainerInfo;
            color: #fff;
        }

        .settingsContainer {
            display: flex;
            flex-direction: column;

            .settingsLogoBtn {
                justify-content: flex-end;
                background-color: transparent;
                border: 0;

                .settingsLogo {
                    filter: opacity(100%);
                }

                figure {
                    margin: 0;
                }
                
                &:hover{
                    cursor: pointer;
                }
            }
            
            .tooltip {
                position: relative;
                background-color: #6c757d;
                font-size: 0.85em;
                margin-top: 1em;
                padding: 0.3em 0.5em;
                color: #fff;
                visibility: hidden;
    
            }

        }
    }
}

.lightMainContainer {
    background-color: $light-background;
    @extend .mainContainer;
}

.darkMainContainer {
    background-color: $dark-background;
    @extend .mainContainer
}

footer {
    display: flex;
    justify-content: center;
    height: 5vh;

    span {
        font-size: 0.8em;
        color: #6d6d6d;

        a {
            text-decoration: none;
            color: #6d6d6d;
            cursor: pointer;

            &:visited {
                color: #6d6d6d;
            }
        }

    }
}

.toggleButtonContainer{
    background-color: blue;

    .toggleButton {
        border: 0;
        cursor: pointer;

        &:before {
            font-size: 3em;
        }
    }

    .lightToggleButton {
        @extend .toggleButton;
        background-color: $light-background;
        
        &:before {
            content: "\1F31E";
        }  
    }

    .darkToggleButton {
        @extend .toggleButton;
        background-color: $dark-background;

        &:before {
            content: "\1F31C";
        }
    }
}

@media screen and (min-width: 481px) {

    .bigScreenMode {

        .appContainer {
    
            .sizeAppButtonContainer {

                .lightChangeSizeButton {
                    background-color: #fff;
                    border: 1px #000 solid;
                    color: #000;
    
                    &:hover {
                        box-shadow: 0 8px 25px -8px #000;
                    }
                }
        
                .darkChangeSizeButton {
                    background-color: #000;
                    border: 1px #fff solid;
                    color: #fff;
    
                    &:hover {
                        box-shadow: 0 8px 25px -8px #fff;
                    }
                } 

            }
    
            .btnsContainer {
            
                .buttons {
                    font-size: 2.4em;
                }
            }
        
            .belowClockContainer {
    
                .belowClockContainerInfo {
                    font-size: 1.5em;
                }
                
                .settingsContainer {

                    .settingsLogoBtn {

                        .settingsLogo {
                            width: 30px;
                            height: 30px;
                        }
    
                        &:hover + .tooltip {
                            visibility: visible;
                        }
                    }
                    

                    .tooltip{
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .navBar {
        
        li {
            margin: 0;
        }
    }
    
    .appContainer {
        width: 100%;

        .appSubContainer {
            width: 100%;
        }

        .sizeAppButtonContainer {
            display: none;
        } 

        .btnsContainer {
            display: flex;
            flex-direction: row;
            justify-content: center;

            .buttons {
                width: 48%;
            }
        }

        .belowClockContainer {
            margin: 0 1em;
        }
    }
}